@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
html,
body {
  @apply font-sans m-0 p-0 bg-black text-white font-mono;
}

#__next {
  min-height: calc(100vh - 120px);
  @apply flex flex-col;
}

pre {
  @apply max-w-full overflow-auto;
}

select {
  appearance: none;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0id2hpdGUiPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTUuMjkzIDcuMjkzYTEgMSAwIDAxMS40MTQgMEwxMCAxMC41ODZsMy4yOTMtMy4yOTNhMSAxIDAgMTExLjQxNCAxLjQxNGwtNCA0YTEgMSAwIDAxLTEuNDE0IDBsLTQtNGExIDEgMCAwMTAtMS40MTR6IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIC8+PC9zdmc+Cg==);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 20px;
}

.prose {
  @apply text-white;
}

.prose h1 {
  @apply font-extrabold text-4xl leading-tight;
}

.prose p {
  @apply my-5;
}

.prose a {
  @apply underline text-blue-400 hover:text-blue-300;
}
